<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Koduvayur Ratholsavam 2025</title>
    <link rel="icon" type="image/x-icon" href="assets/images/kdricon.ico">
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <script src="assets/js/lib/angular.js"></script>
    <script src="assets/js/lib/jquery.min.js"></script>
    <script src="app.js"></script>
</head>
<body ng-app="testApp" ng-controller="testController">
    <header>
        <div class="logo">
            <img src="assets/images/kdrlogo.png">
        </div>
        <!-- <div id="cart" data-count="0">Cart ({{itemCount}})</div> -->
    </header>
    <nav>
        <!-- <input type="checkbox" id="toggleMenu">
        <label for="toggleMenu"></label>
        <ul class="menu">
            <li class="dropdown" ng-click="activeButton($event)">
                Menu1
                <ul>
                    <li>SubMenu1</li>
                    <li>SubMenu2</li>
                    <li>SubMenu3</li>
                    <li>SubMenu4</li>
                </ul>
            </li>
            <li>Menu2</li>
            <li class="dropdown" ng-click="activeButton($event)">
                Menu3
                <ul>
                    <li>SubMenu1</li>
                    <li>SubMenu2</li>
                    <li>SubMenu3</li>
                    <li>SubMenu4</li>
                </ul>
            </li>
            <li>Menu4</li>
        </ul> -->
    </nav>
    <div class="product-container">
        <aside class="images">
            <div class="mainImg">
                <img src="assets/images/1.jpg">
            </div>
            <div class="thumbs">
                <img class="active" src="assets/images/1.jpg" ng-click="imageSwitch($event)">
                <img src="assets/images/2.jpg" ng-click="imageSwitch($event)">
                <img src="assets/images/3.jpg" ng-click="imageSwitch($event)">
                <img src="assets/images/4.jpg" ng-click="imageSwitch($event)">
            </div>
        </aside>
        <section class="info main-info">
            <h1>Koduvayur Ratholsavam</h1>
            <h4>7 - 16 January 2025</h4>
            <p> With the blessings of Lord Sree Visalakshy Sametha Sree Viswanatha Swamy, historical and famous Ratholsavam of our Agraharam will be held on 2025 January 13, 14 (Monday, Tuesday - 1200 Dhanu 29, Makaram 1).
                We heartily invite you all to be part of these eventful days, experience this extravaganza attain the blessings of Sree Visalakshy Sametha Sree Viswanatha Swamy.
            </p>
            <!-- <div class="size">
                <h4>Select Size</h4>
                <label>
                    <input type="radio" name="size" checked="checked"><span>6</span>
                </label>
                <label>
                    <input type="radio" name="size"><span>7</span>
                </label>
                <label>
                    <input type="radio" name="size"><span>8</span>
                </label>
                <label>
                    <input type="radio" name="size"><span>9</span>
                </label>
                <label>
                    <input type="radio" name="size"><span>10</span>
                </label>
                <label>
                    <input type="radio" name="size"><span>11</span>
                </label>
            </div> -->
            <div class="actions">
                <!-- <p class="price" data-base-price="999.99" data-base-size="6" data-mul="50">$ {{itemPrice}}</p> -->
                <h4>Live Streaming On:</h4>
                <a target="blank" href="https://www.youtube.com/@koduvayurratholsavam">
                    <button id="buy">OUR YOUTUBE CHANNEL</button>
                </a>
                <!-- <button id="addToCart" ng-click="itemCount=itemCount+1;">Add to Cart</button> -->
            </div>
        </section>
    </div>
    <section class="related">
        <h4>Main Events</h4>
        <div class="h-slider">
            <ul>
                <li>
                    <img src="assets/images/e0.jpg">
                    <!-- <h4>Shoe OneX</h4>
                    <h5>$499.99</h5>
                    <button>Buy Now</button> -->
                </li>
                <li>
                    <img src="assets/images/e1.jpg">
                    <!-- <h4>Shoe TwoX</h4>
                    <h5>$499.99</h5>
                    <button>Buy Now</button> -->
                </li>
                <li>
                    <img src="assets/images/e2.jpg">
                    <!-- <h4>Shoe ThreeX</h4>
                    <h5>$499.99</h5>
                    <button>Buy Now</button> -->
                </li>
                <li>
                    <img src="assets/images/e3.jpg">
                    <!-- <h4>Shoe FourX</h4>
                    <h5>$499.99</h5>
                    <button>Buy Now</button> -->
                </li>
                <li>
                    <img src="assets/images/e4.jpg">
                    <!-- <h4>Shoe OneX</h4>
                    <h5>$499.99</h5>
                    <button>Buy Now</button> -->
                </li>
                <li>
                    <img src="assets/images/e5.jpg">
                    <!-- <h4>Shoe TwoX</h4>
                    <h5>$499.99</h5>
                    <button>Buy Now</button> -->
                </li>
                <li>
                    <img src="assets/images/e6.jpg">
                    <!-- <h4>Shoe ThreeX</h4>
                    <h5>$499.99</h5>
                    <button>Buy Now</button> -->
                </li>
                <li>
                    <img src="assets/images/e7.jpg">
                    <!-- <h4>Shoe FourX</h4>
                    <h5>$499.99</h5>
                    <button>Buy Now</button> -->
                </li>
                <li>
                    <img src="assets/images/e8.jpg">
                    <!-- <h4>Shoe FourX</h4>
                    <h5>$499.99</h5>
                    <button>Buy Now</button> -->
                </li>
                <li>
                    <img src="assets/images/e9.jpg">
                    <!-- <h4>Shoe ThreeX</h4>
                    <h5>$499.99</h5>
                    <button>Buy Now</button> -->
                </li>
                <li>
                    <img src="assets/images/e10.jpg">
                    <!-- <h4>Shoe FourX</h4>
                    <h5>$499.99</h5>
                    <button>Buy Now</button> -->
                </li>
                <li>
                    <img src="assets/images/e11.jpg">
                    <!-- <h4>Shoe FourX</h4>
                    <h5>$499.99</h5>
                    <button>Buy Now</button> -->
                </li>
            </ul>
        </div>
    </section>
    <section class="related">
        <h4>Daily Schedule</h4>
        <div class="h-slider">
            <ul>
                <li>
                    <img src="assets/images/d0.jpg">
                </li>
                <li>
                    <img src="assets/images/d1.jpg">
                </li>
                <li>
                    <img src="assets/images/d2.jpg">
                </li>
                <li>
                    <img src="assets/images/d3.jpg">
                </li>
                <li>
                    <img src="assets/images/d4.jpg">
                </li>
                <li>
                    <img src="assets/images/d5.jpg">
                </li>
                <li>
                    <img src="assets/images/d6.jpg">
                </li>
                <li>
                    <img src="assets/images/d7.jpg">
                </li>
                <li>
                    <img src="assets/images/d8.jpg">
                </li>
                <li>
                    <img src="assets/images/d9.jpg">
                </li>
            </ul>
        </div>
    </section>
    <section class="related">
        <h4>Photo Gallery</h4>
        <div class="h-slider">
            <ul>
                <li>
                    <img src="assets/images/g0.jpg">
                </li>
                <li>
                    <img src="assets/images/g1.jpg">
                </li>
                <li>
                    <img src="assets/images/g2.jpg">
                </li>
                <li>
                    <img src="assets/images/g3.jpg">
                </li>
                <li>
                    <img src="assets/images/g4.jpg">
                </li>
                <li>
                    <img src="assets/images/g5.jpg">
                </li>
                <li>
                    <img src="assets/images/g6.jpg">
                </li>
                <li>
                    <img src="assets/images/g7.jpg">
                </li>
                <li>
                    <img src="assets/images/g8.jpg">
                </li>
                <li>
                    <img src="assets/images/g9.jpg">
                </li>
                <li>
                    <img src="assets/images/g10.jpg">
                </li>
                <li>
                    <img src="assets/images/g11.jpg">
                </li>
            </ul>
        </div>
    </section>
    <section class="related">
        <h4>Our Sponsors</h4>
        <div class="h-slider">
            <ul>
                <li>
                    <img src="assets/images/s0.jpg">
                </li>
                <li>
                    <img src="assets/images/s1.jpg">
                </li>
                <li>
                    <img src="assets/images/s2.jpg">
                </li>
                <li>
                    <img src="assets/images/s3.jpg">
                </li>
                <li>
                    <img src="assets/images/s4.jpg">
                </li>
                <li>
                    <img src="assets/images/s5.jpg">
                </li>
                <li>
                    <img src="assets/images/s6.jpg">
                </li>
                <li>
                    <img src="assets/images/s7.jpg">
                </li>
                <li>
                    <img src="assets/images/s8.jpg">
                </li>
                <li>
                    <img src="assets/images/s9.jpg">
                </li>
            </ul>
        </div>
    </section>
    <footer>
        <!-- <section class="links">
            <div>
                <h4>Company</h4>
                <ul>
                    <li>About Us</li>
                    <li>History</li>
                    <li>Our Team</li>
                    <li>Contact Us</li>
                    <li>Terms</li>
                    <li>Legal</li>
                    <li>Privacy</li>
                    <li>FAQ</li>
                </ul>
            </div>
            <div>
                <h4>Account</h4>
                <ul>
                    <li>Dashboard</li>
                    <li>My Orders</li>
                    <li>Edit Profile</li>
                    <li>Change Password</li>
                </ul>
            </div>
            <div>
                <h4>Tools</h4>
                <ul>
                    <li>Sales Flyer</li>
                    <li>Create Catalog</li>
                    <li>Create Flyer</li>
                    <li>Virtual Sample</li>
                </ul>
            </div>
            <div>
                <h4>Newsletter</h4>
                <div>
                    <input type="text" placeholder="Enter email">
                    <button>Subscribe</button>
                </div>
            </div>
        </section> -->
        <section class="trademark">
            <div>&copy; Koduvayur Ratholsavam 2025</div>
        </section>
    </footer>


</body>

</html>