<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Test</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <script src="assets/js/lib/angular.js"></script>
    <script src="assets/js/lib/jquery.min.js"></script>
    <script src="app.js"></script>
</head>
<body ng-app="testApp" ng-controller="testController">
    <header>
        <div class="logo">
            <img src="assets/images/logo.jpg">
        </div>
        <div id="cart" data-count="0">Cart ({{itemCount}})</div>
    </header>
    <nav>
        <input type="checkbox" id="toggleMenu">
        <label for="toggleMenu"></label>
        <ul class="menu">
            <li class="dropdown" ng-click="activeButton($event)">
                Menu1
                <ul>
                    <li>SubMenu1</li>
                    <li>SubMenu2</li>
                    <li>SubMenu3</li>
                    <li>SubMenu4</li>
                </ul>
            </li>
            <li>Menu2</li>
            <li class="dropdown" ng-click="activeButton($event)">
                Menu3
                <ul>
                    <li>SubMenu1</li>
                    <li>SubMenu2</li>
                    <li>SubMenu3</li>
                    <li>SubMenu4</li>
                </ul>
            </li>
            <li>Menu4</li>
        </ul>
    </nav>
    <div class="product-container">
        <aside class="images">
            <div class="mainImg">
                <img src="assets/images/1.jpg">
            </div>
            <div class="thumbs">
                <img class="active" src="assets/images/1.jpg" ng-click="imageSwitch($event)">
                <img src="assets/images/2.jpg" ng-click="imageSwitch($event)">
                <img src="assets/images/3.jpg" ng-click="imageSwitch($event)">
                <img src="assets/images/4.jpg" ng-click="imageSwitch($event)">
            </div>
        </aside>
        <section class="info main-info">
            <h1>Lorem Ipsum Shoes</h1>
            <h4>#123456</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.</p>
            <div class="size">
                <h4>Select Size</h4>
                <label>
                    <input type="radio" name="size" checked="checked"><span>6</span>
                </label>
                <label>
                    <input type="radio" name="size"><span>7</span>
                </label>
                <label>
                    <input type="radio" name="size"><span>8</span>
                </label>
                <label>
                    <input type="radio" name="size"><span>9</span>
                </label>
                <label>
                    <input type="radio" name="size"><span>10</span>
                </label>
                <label>
                    <input type="radio" name="size"><span>11</span>
                </label>
            </div>
            <div class="actions">
                <p class="price" data-base-price="999.99" data-base-size="6" data-mul="50">$ {{itemPrice}}</p>
                <button id="buy">Buy Now</button>
                <button id="addToCart" ng-click="itemCount=itemCount+1;">Add to Cart</button>
            </div>
        </section>
    </div>
    <section class="related">
        <h4>Related Products</h4>
        <ul>
            <li>
                <img src="assets/images/thumb1.png">
                <h4>Shoe OneX</h4>
                <h5>$499.99</h5>
                <button>Buy Now</button>
            </li>
            <li>
                <img src="assets/images/thumb2.png">
                <h4>Shoe TwoX</h4>
                <h5>$499.99</h5>
                <button>Buy Now</button>
            </li>
            <li>
                <img src="assets/images/thumb3.png">
                <h4>Shoe ThreeX</h4>
                <h5>$499.99</h5>
                <button>Buy Now</button>
            </li>
            <li>
                <img src="assets/images/thumb4.png">
                <h4>Shoe FourX</h4>
                <h5>$499.99</h5>
                <button>Buy Now</button>
            </li>
        </ul>
    </section>
    <footer>
        <section class="links">
            <div>
                <h4>Company</h4>
                <ul>
                    <li>About Us</li>
                    <li>History</li>
                    <li>Our Team</li>
                    <li>Contact Us</li>
                    <li>Terms</li>
                    <li>Legal</li>
                    <li>Privacy</li>
                    <li>FAQ</li>
                </ul>
            </div>
            <div>
                <h4>Account</h4>
                <ul>
                    <li>Dashboard</li>
                    <li>My Orders</li>
                    <li>Edit Profile</li>
                    <li>Change Password</li>
                </ul>
            </div>
            <div>
                <h4>Tools</h4>
                <ul>
                    <li>Sales Flyer</li>
                    <li>Create Catalog</li>
                    <li>Create Flyer</li>
                    <li>Virtual Sample</li>
                </ul>
            </div>
            <div>
                <h4>Newsletter</h4>
		<form method="POST" action="https://script.google.com/macros/s/AKfycbwyYRCpAJ8cNg37ZJ1UrjJckjVv2H0cQNonYXL_usbdODlTWPjf4yDZLDDkRWPGyE3_/exec">
		  <input name="First Name" type="text" placeholder="First Name" required >
		  <input name="Last Name" type="text" placeholder="Last Name" required>
		  <input name="Email" type="email" placeholder="Email" required>
		  <textarea name="Query" placeholder="Query" required>
		  <button type="submit">Send</button>
		</form>
            </div>
        </section>
        <section class="trademark">
            <div>&copy; 2017 Powerweave. Designed by Rohan</div>
        </section>
    </footer>


</body>

</html>
