/* 1366 common css */
html {
    /* 10px: easy to use with REM */
    /* Do not change this value in any media query */
    /* make use of CSS3 variables where required */
    font-size: 62.5%;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	box-sizing:border-box;
}

@keyframes come-in {
    from {
        opacity: 0;
        transform: translateY(5rem);
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slide-up {
    from {
        transform: translateY(5rem);
    }
    to {
        transform: translateY(0);
    }
}

//slick fix
.slick-track {
    outline: none;
    &:hover,
    &:active,
    &:focus {
        outline: none;
    }
    .slick-slide {
        outline: none;
        &:hover,
        &:active,
        &:focus {
            outline: none;
        }
    }
}

.slick-arrow {
    outline: none;
    &:hover,
    &:active,
    &:focus {
        outline: none;
    }
    &:focus {
        &::after {
            filter: brightness(100) invert(1);
        }
    }
}

.slick-dots {
    outline: none;
    &:hover,
    &:active,
    &:focus {
        outline: none;
    }
    li {
        button {
            outline: none;
            &:hover,
            &:active,
            &:focus {
                outline: none;
            }
            &.slick-active {
                outline: none;
                &:hover,
                &:active,
                &:focus {
                    outline: none;
                }
                button {
                    outline: none;
                    &:hover,
                    &:active,
                    &:focus {
                        outline: none;
                    }
                }
            }
        }
        &:first-child:last-child {
            display: none;
        }
    }
}


//custom css

header {
	width: 100%;
	position: relative;
	display: block;

	&.scrolled {

		.fullheader {
		    animation: slide-up 0.2s ease-in-out;
		}
		& + .main-content {
			margin-top: px2vw(55);
		}

		.scaledheader {
			transform: translateY(0);	
			transition: transform 0.3s;
		}

	}
}

.scaledheader {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	transform: translateY(-100px);	
	transition: transform 0.3s;
}


.carousel-Slider {
	display: block;
	width: 100%;
	position: relative;

	.slick-dots {
        position: absolute;
        bottom: 2rem;
        left: 50%;
        transform: translate(-50%);
        color: transparent;
        display: flex;

        &:hover, &:active, &:focus {
            outline: none;
        }

        li {
            button {
                color: transparent;
                width: 1.1rem;
                height: 1.1rem;
                background: transparent;
                border-radius: .7rem;
                box-shadow: none;
                margin: 0 .45rem;
                border: 1px solid #fff;
                padding: 0;
            }

            &.slick-active {

                outline: none;
                &:hover, &:active, &:focus {
                    outline: none;
                }

                button {
                    background-color: #fff;
                    outline: none;
                    &:hover, &:active, &:focus {
                        outline: none;
                    }
                }
            }

        }
    }
}

.main-content {
	width: 100%;
	position: relative;
	display: block;
}

.fullwidth {
	width: 100%;
}

.block {
	display: block;
}

.nopad {
	padding: 0;
}

.flexed {
	display: flex;
	position: relative;

	&.spaced {
		justify-content: space-between;
	}

	&.centered {
		justify-content: center;
	}

	&.around {
		justify-content: space-around;
	}
}

.products {
	padding: 0 px2vw(105) px2vw(70) px2vw(105);

	img {
		border: 1px solid #dedede;
		cursor: pointer;
		width: px2vw(274);

		&:hover {
			border: 1px solid #5590e5;
			box-shadow: 0 0 2px 2px rgba(#000, 0.1);
		}
	}
}

.clientsays {
	width: px2vw(830);

}
.clientright {
	width: px2vw(536);
}

.final {
	padding: px2vw(85) px2vw(110);

	img {
		cursor: pointer;
		transition: transform .2s ease-in-out;

		&:hover {
			transform: scale(1.08);
		}
	}
}


.come-in {
    animation: come-in 0.9s ease-in-out;
    &.c_r {
        animation: come-in 1.2s ease-out;
        // animation-delay: 2s;
    }
    &.c_r_mob {
        animation: come-in 1.5s ease-out;
        // animation-delay: 2s;
    }
}

.fade-in {
    animation: fade-in 0.9s ease-in-out;
}

.slide-up {
    animation: slide-up 0.9s ease-in-out;
}

.passive {
    opacity: 0;
}

.startingat {
	position: relative;

	#timer {
		position: absolute;
		left: px2vw(1030);
		top: px2vw(100);
	    display: flex;
	    line-height: px2vw(45);
	    padding: 0;
	    font-size: px2vw(30);
	    font-family: 'Arial';
	    font-weight: 500;
	    text-align: center;

	    span {
		  display: block;
		  font-size: px2vw(14);
		  color: white;
		  font-family: 'Arial';
		  font-weight: 100;
		  text-align: center;
		}

		#hours {
		  font-size: px2vw(65);
		  color: #fff;
		  margin-right: px2vw(10);
		}
		#minutes {
		  font-size: px2vw(65);
		  margin-right: px2vw(10);
		  color: #fff;
		}
		#seconds {
		  font-size: px2vw(65);
		  color: #fff;
		}
	}
}

