/* 1366 common css */
html {
    /* 10px: easy to use with REM */
    /* Do not change this value in any media query */
    /* make use of CSS3 variables where required */
    font-size: 62.5%;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	box-sizing:border-box;
}

header {
	padding: px2vw(15) 0;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
}

.logo {
	padding: 0;
	position: relative;
	width: px2vw(180);

	img {
		display: block;
		width: 100%;
	}
}

#cart {
	position: absolute;
	right: px2vw(45);
	display: block;
	color: #cb1639;
	font-family: 'Oswald', sans-serif;
	font-size: px2vw(20);
	text-transform: uppercase;
	font-weight: 500;
}

#toggleMenu {
	display: none;
}

nav {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background-color: #31353e;
	padding: px2vw(2) 0;

	label {
		display: none;
	}
}

.menu {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
	align-items: center;
	position: relative;
	list-style: none;
	list-style-type: none;


	li {
		padding: 0;
		width: px2vw(120);
		position: relative;
		color: #fff;
		font-family: 'Oswald', sans-serif;
		font-size: px2vw(18);
		text-transform: uppercase;
		font-weight: 500;
		cursor: pointer;

		&:hover, &:active {
			color: #c90b2b;
		}
	}
}

.dropdown {
	position: relative;

	&::after {
		content: '\25bc';
		display: inline-block;
	}

	ul {
		z-index: 1;
		padding: px2vw(20);
		margin: 0;
		position: absolute;
		top: 150%;
		left: 0;
		width: px2vw(120);
		list-style: none;
		list-style-type: none;
		justify-content: center;
		flex-direction: column;
		border: 1px solid #d3d3d3;
		background-color: #fff;
		display: none;

		li {
			color: #191a33;
			font-family: 'Oswald', sans-serif;
			font-size: px2vw(16);
			text-transform: none;
			font-weight: 500;
			padding: px2vw(8) 0;


			&:hover, &:active {
				color: #c90b2b;
			}

			&:first-child {
				padding-top: 0;
			}

			&:last-child {
				padding-bottom: 0;
			}
		}
	}

	//&:hover {
	//	ul {
	//		display: flex;
	//	}
	//}

    &.active {
        ul {
            display: flex;
        }
    }
}

.product-container {
	margin: 0;
	display: flex;
	position: relative;
	padding: px2vw(20) px2vw(45) px2vw(40) px2vw(45);
	align-items: flex-start;
	justify-content: space-between;
	background-color: #fff;
	border-bottom: 2px solid #e1e1e1;

}

.images {
	display: flex;
	position: relative;
	width: px2vw(630);
	align-items: flex-start;
	justify-content: space-between;
}

.mainImg {
	order: 2;
	position: relative;
	width: px2vw(500);

	img {
		display: block;
		width: 100%;
		border: 1px solid #d3d3d3;
	}
}

.thumbs {
	order: 1;
	display: flex;
	position: relative;
	width: px2vw(112);
	flex-direction: column;

	img {
		display: block;
		width: 100%;
		margin-bottom: px2vw(20);
		border: 1px solid #d3d3d3;
		transition: all .2s ease-in-out;


		&:hover, &:active {
			border-color: #c70c2b;
			transition: border-color .2s ease-in-out;
		}

        &.active {
            border-color: #c70c2b;
        }
	}

}

.info {
	display: flex;
	flex-direction: column;
	position: relative;
	width: px2vw(610);
	justify-content: flex-end;
	align-items: flex-start;
	margin: 0;
	padding: px2vw(15) 0 px2vw(20) 0;
}

.main-info {
	h1 {
		color: #000;
		font-family: 'Oswald', sans-serif;
		font-size: px2vw(56);
		text-transform: uppercase;
		margin: 0;
		padding: 0;
		margin-bottom: px2vw(20);
		font-weight: 900;
		// line-height: .9;
		line-height: 1.1;
	}

	h4 {
		color: #c9143b;
		font-family: 'Oswald', sans-serif;
		font-size: px2vw(24);
		text-transform: uppercase;
		margin: 0;
		padding: 0;
		margin-bottom: px2vw(30);
		font-weight: 500;
	}

	p {
		color: #000;
		font-family: sans-serif;
		font-size: px2vw(17);
		margin: 0;
		padding: 0;
		margin-bottom: px2vw(30);
		font-weight: 500;
		line-height: 1.4;
	}

	.size {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: px2vw(300);
		margin-bottom: px2vw(65);

		h4 {
			color: #000;
			width: 100%;
			margin-bottom: px2vw(20);
		}

		label {
			display: block;
			position: relative;
			cursor: pointer;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			min-width: px2vw(45);
			min-height: px2vw(46);

			input {
				position: absolute;
				opacity: 0;
				cursor: pointer;
			}

			span {
				position: absolute;
				line-height: 2.4;
				width: px2vw(45);
				height: px2vw(46);
				top: 0;
				left: 0;
				padding: 0;
				text-align: center;
				font-size: px2vw(18);
				font-family: sans-serif;
				color: #32313a;
				background-color: #fff;
				border: 2px solid  #32313a;
				font-weight: 500;

				&:hover {
					background-color: #32313a;
					color: #fff;
				}
			}

			input:checked {
				& + span {
					background-color: #32313a;
					color: #fff;
				}
			}
		}
	}
}

.actions {
	position: relative;
	// display: flex;
	display: block;

	h4 {
		margin-bottom: 3%;
	}


	.price {
		color: #c9143b;
		font-family: 'Oswald', sans-serif;
		font-size: px2vw(30);
		text-transform: uppercase;
		margin: 0;
		padding: 0;
		font-weight: 500;
		width: px2vw(320);
	}

	button {
		display: block;
		text-align: center;
		padding: px2vw(20);
		color: #fff;
		background-color: #c70c2b;
		transition: all .2s ease-in-out;
		font-family: 'Oswald', sans-serif;
		font-size: px2vw(20);
		line-height: 1.2;
		letter-spacing: 1px;
		text-transform: uppercase;
		margin: 0;
		outline: none;
		border: 0;
		box-shadow: none;
		font-weight: 500;
		cursor: pointer;
		margin: 0;

		&:hover, &:active {
			border: 0;
			outline: none;
			box-shadow: none;
			background-color: #940920;
			transition: background-color .2s ease-in-out;
		}

		&:active {
			transition: background-color .2s ease-in-out, transform .2s ease-in-out;
			transform: scale(.97);
		}
	}
}

.h-slider {
	margin: 0;
	display: flex;
	position: relative;
	width: 100%;
	padding: 1% px2vw(50);
	justify-content: center;
	border-top: 1px solid #cfcfcf;
	border-bottom: 1px solid #cfcfcf;
}

.related {
	display: flex;
	position: relative;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #cfcfcf;

	h4 {
		width: 100%;
		margin: px2vw(20) auto;
		color: #000;
		font-family: 'Oswald', sans-serif;
		font-size: px2vw(26);
		text-transform: uppercase;
		letter-spacing: 1px;
		padding: 0;
		font-weight: 600;
		text-align: center;
	}

	ul {
		margin: 0;
		display: flex;
		position: relative;
		width: 100%;
		// flex-wrap: wrap;
		// overflow-x: auto;
		// flex-wrap: nowrap;
		flex: auto;
		overflow-x: scroll;
		justify-content: flex-start;
		padding: 0;
		list-style: none;
		list-style-type: none;

		li {
			// width: px2vw(420);
			width: auto;
			height: px2vw(420);
			// height: auto;
			padding: 1%;
			// padding: px2vw(50);
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			position: relative;
			border: 1px solid #cfcfcf;
			margin-right: 1%;

			&:last-child {
				margin-right: 0;
			}

			&::before {
				content: '';
				position: absolute;
				display: none;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 1;
				background-color: rgba(#000, .4);
			}

			img {
				height: 100%;
				display: block;
				// margin-bottom: px2vw(15);
			}

			h4 {
				margin: px2vw(15) 0;
			}

			h5 {
				color: #c9143b;
				font-family: 'Oswald', sans-serif;
				font-size: px2vw(24);
				text-transform: uppercase;
				margin: 0;
				padding: 0;
				margin-bottom: px2vw(30);
				font-weight: 500;
				text-align: center;
				margin-bottom: px2vw(60);
			}

			button {
				display: none;
				text-align: center;
				position: absolute;
				top: px2vw(185);
				left: px2vw(60);
				z-index: 2;
				padding: px2vw(15) px2vw(50);
				color: #fff;
				background-color: #c70c2b;
				transition: all .2s ease-in-out;
				font-family: 'Oswald', sans-serif;
				font-size: px2vw(20);
				letter-spacing: 1px;
				text-transform: uppercase;
				margin: 0;
				outline: none;
				border: 0;
				box-shadow: none;
				font-weight: 500;
				cursor: pointer;
				margin: 0 px2vw(5);

				&:hover, &:active {
					border: 0;
					outline: none;
					box-shadow: none;
					background-color: #940920;
					transition: background-color .2s ease-in-out;
				}

				&:active {
					transition: background-color .2s ease-in-out, transform .2s ease-in-out;
					transform: scale(.97);
				}
			}


			// &:hover {
			// 	&::before {
			// 		display: block;
			// 	}

			// 	button {
			// 		display: block;
			// 	}
			// }

		}
	}
}

footer {
	padding: 0;
	position: relative;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	background-color: #000;
	margin: 0;

	.links {
		padding: px2vw(50) px2vw(50) px2vw(30) px2vw(50);
		position: relative;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 0;
		border-bottom: 1px dashed #202020;

		div {
			padding: 0;
			margin: 0;
			width: px2vw(260);
			height: px2vw(240);
			position: relative;

			&:first-child {
				width: px2vw(420);
			}

			h4 {
				color: #fff;
				font-family: 'Oswald', sans-serif;
				font-size: px2vw(24);
				text-transform: uppercase;
				margin: 0;
				padding: 0;
				margin-bottom: px2vw(30);
				font-weight: 500;
			}

			ul {
				list-style: none;
				list-style-type: none;
				margin: 0;
				padding: 0;
				display: flex;
				flex-wrap: wrap;

				li {
					color: #6f6652;
					font-family: 'Oswald', sans-serif;
					font-size: px2vw(24);
					text-transform: uppercase;
					margin: 0;
					padding: 0;
					margin-bottom: px2vw(20);
					font-weight: 500;
					width: px2vw(210);
					cursor: pointer;

					&:hover, &:active {
						color: #aaaaaa;
					}
				}
			}

			input {
				outline: 0;
				box-shadow: none;
				border: none;
				padding: px2vw(20) px2vw(15);
				font-size: px2vw(16);
				font-family: sans-serif;
				color: #597173;
				background-color: #212121;
				width: px2vw(260);
				margin-bottom: px2vw(20);
			}

			button {
				text-align: center;
				width: px2vw(260);
				text-align: center;
				padding: px2vw(15) px2vw(50);
				color: #fff;
				background-color: #c70c2b;
				transition: all .2s ease-in-out;
				font-family: 'Oswald', sans-serif;
				font-size: px2vw(20);
				letter-spacing: 1px;
				text-transform: uppercase;
				margin: 0;
				outline: none;
				border: 0;
				box-shadow: none;
				font-weight: 500;
				cursor: pointer;

				&:hover, &:active {
					border: 0;
					outline: none;
					box-shadow: none;
					background-color: #940920;
					transition: background-color .2s ease-in-out;
				}

				&:active {
					transition: background-color .2s ease-in-out, transform .2s ease-in-out;
					transform: scale(.97);
				}
			}
		}
	}

	.trademark {
		display: flex;
		width: 100%;
		position: relative;
		padding: px2vw(25) 0;

		div {
			width: 100%;
			color: #6f6652;
			font-family: 'Oswald', sans-serif;
			font-size: px2vw(20);
			letter-spacing: 1px;
			text-transform: none;
			margin: 0;
			padding: 0;
			font-weight: 500;
			text-align: center;
		}
	}
}

a {
	text-decoration: none;
}