@media all and (max-width:1200px) {

}

@media all and (max-width:992px) {

}

@media all and (max-width:540px) {

	header {
		padding: 1rem px2vw(20, 540);
		justify-content: flex-start;
	}

	.logo {
		width: px2vw(300, 540);
	}

	#cart {
		position: absolute;
		right: px2vw(20, 540);
		font-size: 2rem;
	}

	#toggleMenu {
		display: none;
	}

	nav {
		width: 100%;
		max-width: 100%;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		flex-wrap: wrap;
		padding: 2px 0;
	}

	.menu {
		width: 100%;
		max-width: 100%;
		height: auto;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;

		li {
			padding: 1rem 0;
			max-width: 25%;
			min-width: 25%;
			position: relative;
			font-size: 1.4rem;
			text-transform: uppercase;
			font-weight: 500;
			cursor: pointer;
			text-align: center;
			justify-content: center;
			display: flex;
			align-items: center;
		}
	}

	.dropdown {
		position: relative;

		ul {
			padding: 1.5rem 0;
			top: 100%;
			left: 0;
			width: 100%;
			align-items: center;
			justify-content: center;
			flex-direction: column;

			li {
				font-size: 1.4rem;
				text-transform: none;
				font-weight: 500;
				justify-content: center;
				padding: .6rem 0;
				text-align: center;
			}
		}
	}

	.product-container {
		margin: 0;
		width: 100%;
		display: flex;
		padding: 4%;
		position: relative;
		align-items: center;
		flex-wrap: wrap;
		justify-content: flex-start;
		background-color: #fff;
		border-bottom: 2px solid #e1e1e1;
	}

	.images {
		display: flex;
		position: relative;
		width: 100%;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}

	.mainImg {
		order: 1;
		position: relative;
		width: 100%;
		margin-bottom: 1rem;

		img {
			display: block;
			width: 100%;
			border: 1px solid #d3d3d3;
		}
	}

	.thumbs {
		width: 100%;
		order: 2;
		display: flex;
		position: relative;
		justify-content: flex-start;
		align-items: center;
		flex-direction: row;
		flex-wrap: wrap;

		img {
			display: block;
			width: 20vw;
			margin: 0 0 1rem 4vw;

			&:nth-child(4n+1) {
				margin: 0 0 1rem 0;
			}

		}
	}

	.info {
		width: 100%;
		display: flex;
		justify-content: center;
		flex-direction: column;
		position: relative;
		justify-content: flex-end;
		align-items: flex-start;
		margin: 0;
		padding: 2rem 0;
	}

	.main-info {

		padding-bottom: 1rem;

		h1 {
			font-size: 3.2rem;
			margin-bottom: 1rem;
		}

		h4 {
			font-size: 2rem;
			text-transform: uppercase;
			margin-bottom: 1.5rem;
		}

		p {
			font-size: 1.4rem;
			margin-bottom: 1.5rem;
			line-height: 1.4;
		}

		.size {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			width: 100%;
			margin-bottom: 1rem;

			h4 {
				width: 100%;
				margin-bottom: 1rem;
			}

			input {
				position: absolute;
				opacity: 0;
				cursor: pointer;
			}

			label {
				min-width: 4rem;
				min-height: 4rem;
				margin: 0;
				margin-right: .5rem;
				margin-bottom: 1rem;

				span {
					position: absolute;
					line-height: 2.8;
					width: 4rem;
					height: 4rem;
					font-size: 1.4rem;
				}

				&:last-child {
					margin-right: 0;
				}
			}

		}
	}

	.actions {
		width: 100%;
		position: relative;
		display: block;
		// flex-wrap: wrap;

		h4 {
			margin-bottom: 1%;
		}

		.price {
			width: 100%;
			font-size: 2.4rem;
			margin-bottom: 1.5rem;
		}

		button {
			display: block;
			padding: 1rem;
			font-size: 1.6rem;
			margin: 0 .5rem 0 0;
		}
	}

	.h-slider {
		margin: 0;
		display: flex;
		position: relative;
		width: 100%;
		padding: 3% 0;
		justify-content: center;
		border-top: 1px solid #cfcfcf;
		border-bottom: 1px solid #cfcfcf;
	}

	.related {
		display: flex;
		position: relative;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0;
		padding: 0;


		h4 {
			width: 100%;
			margin: 2rem auto ;
			font-size: 2.2rem;
			line-height: 1.2;
			padding: 0;
			font-weight: 600;
			text-align: center;
		}

		ul {
			margin: 0;
			width: auto;
			display: flex;
			flex-wrap: nowrap;
			flex: auto;
			overflow-x: auto;
			justify-content: flex-start;
			position: relative;
			padding: 0 2rem 2rem 2rem;
			border-top: 0;
			border-bottom: 0;

			li {
				// width: 20rem;
				// min-width: 20rem;
				// max-width: 20rem;
				// width: 92%;
				// min-width: 92%;
				// max-width: 92%;
				width: auto;
				height: 32rem;
				padding: 1rem;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				position: relative;
				border: 1px solid #cfcfcf;
				margin-right: 2rem;


				&:last-child {
					margin-right: 0;
					border-right: 1px solid #cfcfcf;

					&::after {
						content: "";
						display: block;
						position: absolute;
						right: -2rem;
						width: 2rem;
						height: 1px;
					}
				}

				&::before {
					content: '';
					position: absolute;
					display: none;
					top: 0;
					left: 0;
				}

				img {
					height: 100%;
					display: block;
					margin-bottom: 1rem;
				}

				h4 {
					width: 100%;
					text-align: center;
					margin: 1rem 0;
				}

				h5 {
					width: 100%;
					text-align: center;
					font-size: 2rem;
					text-transform: uppercase;
					margin: 0;
					padding: 0;
					margin-bottom: 2rem;
					font-weight: 500;
					text-align: center;
					margin-bottom: 2rem;
				}

				button {
					display: none;
					text-align: center;
					position: absolute;
					top: 16rem;
					left: 50%;
					transform: translateX(-50%);
					padding: 1rem 2.4rem;
					font-size: 1.6rem;
					margin: 0;

					&:active {
						transition: background-color .2s ease-in-out, transform .2s ease-in-out;
						transform: scale(.97) translateX(-50%);
					}
				}
			}
		}
	}

	footer {

		.links {
			width: 100%;
			position: relative;
			padding: 2rem;
			justify-content: space-between;
			flex-wrap: wrap;

			div {
				padding: 0;
				margin: 0;
				width: 50%;
				height: auto;
				position: relative;
				margin-bottom: 1rem;

				h4 {
					font-size: 1.8rem;
					line-height: 1.4;
					letter-spacing: 1px;
					text-transform: uppercase;
					margin-bottom: .7rem;
				}

				ul {
					list-style: none;
					list-style-type: none;
					line-height: 1.2;
					margin: 0;
					padding: 0;
					display: flex;
					flex-direction: column;

					li {
						letter-spacing: 1px;
						font-size: 1.6rem;
						margin-bottom: .4rem;
						width: auto;
					}
				}

				input {
					padding: 1rem;
					font-size: 1.4rem;
					width: 40vw;
					margin-bottom: 1rem;
				}

				button {
					width: 40vw;
					padding: 1rem 2rem;
					font-size: 1.6rem;
				}
			}
		}

		.trademark {
			padding: 1.4rem 0;

			div {
				font-size: 1.4rem;
			}
		}
	}

	a {
		text-decoration: none;
	}
}